@model List<Application.ViewModels.Benchmark.BenchmarkDashboardViewModel>

<table>
    <thead>
    <td style="text-align: left;">Nazwa strony</td>
    <td class="align-center mobile-hide">TTFB</td>
    <td class="align-center">Całkowite ładowanie</td>
    <td class="align-center mobile-hide">Pierwsza interakcja</td>
    <td class="align-center">Rozmiar</td>
    <td class="align-center">Ocena</td>
    </thead>
   
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: left;">
                <a asp-controller="Website" asp-action="Details" asp-route-idWebsite="@item.IdWebsite">
                    <p class="website-title">@item.WebsiteName</p>
                    <p class="website-url">@item.WebsiteUrl</p>
                </a>
            </td>
            @if (@item.TTFB == 0)
            {
                <td colspan="4">

                    <p style="margin-bottom: 6px; font-weight: 400;">Brak danych dla tego zasobu</p>
                    <p style="font-size: 13px; font-weight: 300">
                        Od momentu dodania zasobu nie minęło jeszcze 24 godzin, zasób zwraca błąd 404 lub nastąpił błąd Lighthouse
                    </p>
                </td>
            }
            else
            {
                <td class="align-center mobile-hide">@item.TTFB ms</td>
                <td class="align-center">@item.FullLoad ms</td>
                <td class="align-center mobile-hide">@item.FirstInteraction ms</td>
                <td class="align-center">@item.Size MB</td>
                <td class="align-center grade-col">
                    <div class="grade grade-@item.Grade">
                        @item.Grade
                    </div>
                </td>
            }
           
        </tr>
    }


</table>

<script>
  

</script>